<div class="row" class="mt-2">
  <div class="card col-sm-9 col-md-7  mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Details</h5>
      <hr />
      <div class="fieldset">

        <dl class="row">

          <dd class="col-sm-12">
            <img src="{{profile.mainImage}}" />
          </dd>

          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">{{profile.name}}</dd>

          <dt class="col-sm-3">Gender</dt>
          <dd class="col-sm-9">{{profile.gender}}</dd>

          <dt class="col-sm-3">Date of birth</dt>
          <dd class="col-sm-9">{{profile.dateOfBirth}}</dd>
        </dl>

        <div>
          <a class="btn btn-primary" routerLink="/{{appUrl.people_profile}}">Interested</a>
          <a class="btn btn-default" routerLink="/{{appUrl.profile}}">Back</a>
        </div>

      </div>
    </div>
  </div>
</div>



