
<div class="row">
  <div class="col-sm-9 col-md-7 mx-auto">
    <h5 class="card-title text-center">Crushed</h5>
    <hr />
    <a routerLink="/{{appUrl.people_crushed_request}}">See crush list</a>
  </div>
</div>


<div class="row mt-2" *ngFor="let profile of profiles; let i=index">
  <div class="col-sm-9 col-md-7 mx-auto">

    <div class="card">
      <div class="card-body">

        <div class="central-meta item" >
          <div class="user-post">
            <div class="row">
              <div class="col-sm-3">
                <figure>
                  <img width="150px" src="{{profile.mainImage}}" alt="">
                </figure>
              </div>
              <div class="col-sm-7">
                <div class="friend-name">
                  <a [routerLink]="['/' + appUrl.people_profile]" [queryParams]="{ id: profile.id }">{{profile.name}}</a>
                </div>
                <div class="description">{{profile.description}}</div>
                <div class="mt-2">
                  <button class="mr-2" (click)="removeFromList(profile)">Start chat</button>
                  <button (click)="removeFromList(profile)">Remove</button>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
