
<div class="row">
  <div class="col-sm-9 col-md-7 mx-auto">
    <h5 class="card-title text-center">People</h5>
    <hr />
  </div>
</div>


  <div class="row mt-2" *ngFor="let profile of profiles; let i=index">
    <div class="col-sm-9 col-md-7 mx-auto">

    <div class="card">
      <div class="card-body">

        <div class="central-meta item" >
          <div class="user-post">
            <div class="row">
                <div class="col-sm-3">
                  <figure>
                    <img width="150px" src="{{profile.mainImage}}" alt="">
                  </figure>
                </div>
                <div class="col-sm-7">
                  <div class="friend-name">
                      <a [routerLink]="['/' + appUrl.people_profile]" [queryParams]="{ id: profile.id }">{{profile.name}}</a>
                  </div>
                  <div class="description">{{profile.description}}</div>

                </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
