<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/{{appUrl.people}}" class="navbar-brand d-flex align-items-center">
        <strong>BDATE private</strong>
      </a>

      <nav>
        <a class="p-2"  routerLink="/{{appUrl.people}}"> People</a>
        <a class="p-2"  routerLink="/{{appUrl.people_interested}}"> Interested</a>
        <a class="p-2"  routerLink="/{{appUrl.people_crashed}}"> Crash</a>
        <a class="p-2"  routerLink="/{{appUrl.profile}}">Profile</a>
        <a class="p-2"  routerLink="/{{appUrl.auth_logout}}">Logout</a>
      </nav>
    </div>
  </div>
</header>
<div class="">
  <router-outlet></router-outlet>
</div>


<!--
<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark box-shadow ">
        
                <div class="container d-flex justify-content-between">
                        <a routerLink="/dashboard" class="navbar-brand d-flex align-items-center">
                                <strong>BDATE</strong>
                        </a>
                        <button class="navbar-toggler" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#navbarCollapse" 
                                aria-controls="navbarCollapse" 
                                aria-expanded="false" 
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>

                        <nav>
                          <a class="p-2 " routerLink="/auth/logout">Logout</a>
                        </nav>
                        <div class="collapse navbar-collapse" id="navbarCollapse">

                        </div>
                </div>
        
        </nav>
</header>
<div class="container">
        <router-outlet></router-outlet>
</div>
-->


